table{
 
    background-color: black;
}

input{

    width: 70px;
 
    height: 50px;
    margin: 1px;
}

#result {

    width: 210px;
    background-color: green;
    font-weight: bold 20px;
    font-size: 20px;
    color: black;
    

}
